<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="myLogger" class="info.spring.tutorial.implementations.LoggerImpl">
		<property name="loggerName" value="LoggerNumber1"></property>
		<property name="version" value="10"></property>

	</bean>

<!-- 	<bean id="userRepositorium" class="info.spring.tutorial.implementations.UserRepositoryImpl"> -->
<!-- 	<property name="logger" ref="myLogger"></property> -->
<!-- 	</bean> -->

	<bean id="userRepositorium" class="info.spring.tutorial.implementations.UserRepositoryImpl">
		<constructor-arg ref="myLogger"></constructor-arg>
		<constructor-arg name="repoLocalization" value="http://127.0.0.1:3456/db"></constructor-arg>
	</bean>



</beans>
